# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
env/
venv/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyTorch model checkpoints
*.pt
*.pth

# Logs and outputs
*.log
*.out

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Environment variables or credentials
.env
